
<div class="bg">
    <h1 class="text-center">Get in Touch</h1>
</div>

<div class="container">
<h3 class="mt-3">Remember Us for Mobile-app, Web-app, Websites and Desktop-app Development</h3>
<div class="softform">
    <form class="text-center  " >
    
        
        <!-- Name -->
        <input type="text"  
          class="form-control mb-4" placeholder="Name">
      
        <!-- Email -->
        <input type="email" 
          class="form-control mb-4" placeholder="E-mail">
          <!-- Phone -->
        <input type="tel" 
        class="form-control mb-4" placeholder="Contact Number">
        <!-- Name -->
        <input type="text"  
          class="form-control mb-4" placeholder="Address">
      
        <!-- Subject -->
        <label>Intrested In</label>
        <select  class="browser-default custom-select mb-4">
          <option value="1" selected disabled>Choose Option</option>
          <option value="2">Mobile-app</option>
          <option value="3">Web-app</option>
          <option value="4">Websites</option>
          <option value="5">Desktop-app</option>
        </select>
      
        <!-- Message -->
        <div class="form-group">
          <textarea  class="form-control rounded-0" 
            rows="3" placeholder="Message"></textarea>
        </div>
      
        <!-- Copy -->
        <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>
      
        <!-- Send button -->
        <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect mb-5"
          mdbWavesEffect >Send</button>
      
      </form>
      <!-- Default form contact -->
</div>
<div class="icons row mt-3">
    <!--------------------------1------------------>
   <div class="one col">
    <div class="circle ">
        <i class="fas fa-map-marker-alt"></i>
   </div>
   <p class="mt-3 write"> &nbsp; Jadibuti, <br>Kathmandu</p>
    </div>
    <div class="two col">
            <div class="circle two">
                <i class="fas fa-phone-alt "></i>
           </div>
           <p class="mt-3 write">9810348688</p>
    </div>
    <div class="one col">
            <div class="circle last">
                <i class="fas fa-envelope"></i>
           </div>
           <a href="mailto:nepalsoftmandu@gmail.com"><p class="mt-3">nepalsoftmandu@gmail.com </p></a>
    </div>
    
</div>
<iframe class="mt-5" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3533.411216955004!2d85.34968!3d27.6736826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19f6f14b0867%3A0x9a02175c712b8410!2sJadibuti+Pedestrian+Bridge!5e0!3m2!1sen!2snp!4v1563958364755!5m2!1sen!2snp" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>

<!-- Default form contact -->
