<div class="bg"></div>
<div class="container details mt-5">
    <p>Established in 2019, Softmandu Nepal Pvt. Ltd is a rising software development company in Nepal. We are concerned and focused on making digitalized Nepal with IT. We are a proud team of passionate developer focusing on creative works of digitalization.</p>

        <p>Softmandu Nepal is dedicated to provide high quality of service within punctual of time to satisfy valued clines which has become a key factor of motivation and success for us.
        </p>
</div>
<div class="container">
<div class="row threecol">
    <div class="col">
        <h3 class="text-center one">We Create Corporate Level Business Portfolios</h3>
    </div>
    <div class="col text-center">
            <i class="fas fa-trophy"></i>
            <h3>Our Mission</h3>
            <p>To help our clients transferring their business to web in new standard of excellence and secured way</p>
    </div>
    <div class="col text-center">
            <i class="fas fa-eye"></i>
            <h3>Our Vision</h3>
            <p>To establish Softmandu as the most recognized brand for software products.</p>
    </div>
</div>
</div>
<div class="container">
        <h3 class="text-center mt-5 why">Why Choose Us?</h3>
    <div class="row text-center  top">
        <div class="col">
                <i class="fab fa-creative-commons-sampling-plus"></i>
                <h5>Build Anything</h5>
        </div>
        <div class="col">
                <i class="fab fa-wolf-pack-battalion"></i>
                <h5>Unlock your creativity</h5>
        </div>
        <div class="col">
                <i class="fas fa-crown"></i>
                <h5>Premium Design</h5>
        </div>
        <div class="col">
                <i class="fas fa-tachometer-alt"></i>
                <h5>Enhanced Speed</h5>
        </div>
        <div class="col">
                <i class="fab fa-internet-explorer"></i>
                <h5>Better UI/UX</h5>
        </div>
    </div>
    <div class="row text-center mt-4">
            <div class="col">
                        <i class="fas fa-headset"></i>
                        <h3>Dedicated Server</h3>
            </div>
            <div class="col">
                        <i class="fas fa-hand-holding-usd"></i>
                        <h3>Competitive Price</h3>
            </div>
            <div class="col">
                        <i class="fas fa-palette"></i>
                        <h3>Experience Designers</h3>
            </div>
            <div class="col">
                        <i class="fas fa-handshake"></i>
                        <h3>Excellent Costumer Service</h3>
            </div>
            <div class="col">
                        <i class="fas fa-code"></i>
                        <h3>Quality of Code</h3>
            </div>
    </div>
</div>
<div class="rating mt-5">
        <div class="row">
                <div class="col coleft"></div>
                <div class="col coright">
                        <div >
                                <h4 class="mt-4">Build Better Software Design Quickly to Enhance Your Business With Softmandu</h4>
                        </div>
                        <div class="costumer mt-5 container">
                                <div class="row">
                                        <div class="col judgement">
                                                <h6>Costumer Satisfaction <span>90%</span></h6>                                                
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="box"></div>
                                        <div class="box1"></div>
                                </div>
                        </div>
                        <div class="costumer mt-5 container">
                                <div class="row">
                                        <div class="col judgement">
                                                <h6>Web Development &nbsp; &nbsp; &nbsp; <span class="">85%</span></h6>                                                
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="box"></div>
                                        <div class="box2"></div>
                                </div>
                        </div>
                        <div class="costumer mt-5 container">
                                <div class="row">
                                        <div class="col judgement">
                                                <h6>Performance &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <span>90%</span></h6>                                                
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="box"></div>
                                        <div class="box1"></div>
                                </div>
                        </div>
                </div>
        </div>
</div>
<div class="valued_customer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="wrap">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <h6 class="text-center">Trusted By Many</h6>
                                <h4>Our Valued Customer</h4>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <img src="../../assets/image/awasar.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <img src="../../assets/image/policynepal.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <img src="../../assets/image/iser logo.jpg">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <img src="../../assets/image/valued1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>