#logo{
    width: 250px;
height: 80px;
margin-left: -20px;
margin-top: -17px;
margin-bottom: -16px;
}
.navbar{
    
    background: transparent !important;
}
.lineabovenav{
    border-top: 6px solid #81c83c;
}