<div class="bg">
    <h1 class="text-center">Our Works</h1>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <h4><span class="title">ISER-N</span>  [idea]</h4>
            <div class="row grey lighten-4 p-3">
                <div class="col-md-7 col-xs-12 col-sm-6 imgborder">
                        <mdb-carousel [animation]="'slide'">
                                <mdb-carousel-item>
                                  <img class="d-block w-100" src="../../assets/image/isern1.jpg" alt="First slide">
                                </mdb-carousel-item>
                                <mdb-carousel-item>
                                  <img class="d-block w-100" src="../../assets/image/isern2.jpg" alt="Second slide">
                                </mdb-carousel-item>
                              </mdb-carousel>
                </div>
                <div class="col-md-5 col-xs-12 col-sm-6 discription">
                    <h3>About Project</h3>
                    <h5>Iser-N [idea] is a surveying Desktop/Tablet app built for taking observations of different schools. It is compatable for windows application which allows storing data in excel and further can send to server database.</h5>
                    <h3>Used Skills</h3>
                    <h5>Java, My-SQL, Apache-POI, JavaFX</h5>
                    <h3>Clients</h3>
                    <h5>ISER Nepal, Bharatpur Chitwan</h5>
                </div>
            </div>
            <h4 class="mt-5"><span class="title">Policy Nepal </span>[Agro-Trade Link Nepal]</h4>
            <div class="row grey lighten-4 p-3">
                <div class="col-md-7 col-xs-12 col-sm-6 imgborder">
                      <img src="../../assets/image/agrotradelinknepal.jpg" id="p2">
                </div>
                <div class="col-md-5 col-xs-12 col-sm-6 discription">
                    <h3>About Project</h3>
                    <h5>Agro-Trade Link Nepal is a single platform for e-commerce, newsportal, advertisement platform, user interaction for queries related to farming. Objective of this Web-app was to help farmers and other agro business professionals to resolve their queries and gather information related to farming.</h5>
                    <h3>Used Skills</h3>
                    <h5>
                        <ul>
                            <li>Frontend: Angular</li>
                            <li>Backend: Node/ExpressJS</li>
                            <li>Database MongoDB</li>
                            <li>Security Packages: JSONWebToken, Passwordhash, Oauth</li>
                        </ul>
                    </h5>
                    <h3>Clients</h3>
                    <h5>Policy Nepal, Sankhamul Kathmandu</h5>
                </div>
            </div>
            <h4 class="mt-5"><span class="title">Aurorec-OY, Finland </span></h4>
            <div class="row grey lighten-4  p-3">
                <div class="col-md-7 col-xs-12 col-sm-6 imgborder ">
                      <img src="../../assets/image/aurorec_oy.jpg" id="p2 last">
                </div>
                <div class="col-md-5 col-xs-12 col-sm-6 discription">
                    <h3>About Project</h3>
                    <h5>Aurorec-OY is a single platform for auto care. It is a web app to buy & sell cars, view analytical, predictive view of customers vehicle, buy sell vehicle, contace maintainance company for the repair of vehicles.</h5>
                    <h3>Used Skills</h3>
                    <h5>
                        <ul>
                            <li>Frontend: Angular</li>
                            <li>Backend: Node/ExpressJS</li>
                            <li>Database MongoDB</li>
                            <li>Security Packages: JSONWebToken, Passwordhash, Oauth</li>
                        </ul>
                    </h5>
                    <h3>Clients</h3>
                    <h5>Aurorec-OY, Finland</h5>
                </div>
            </div>
        </div>
    </div>
</div>
