<div class="image">
        <div class="container">
            <h1 class="rounded-pill"> What we Provide</h1>
         </div>
</div>
<div class="container">
    <div class=" topservice">
        
        <h2 class="mt-5 " > <i class="fas fa-cogs system"></i> &nbsp; Main <span class="mainservice">Services </span></h2>
    </div>
</div>




<div class="services">
   
<div class=" container mt-5">
    <div class="row ">
        <div class="col avatar">
            
            <img  class=" img-fluid rounded-circle z-depth-0" src="../../assets/image/web app (2).jpg" height="200px" width="250px">
            <h3 class="mobile">Web App Development</h3>
            <p class="z-depth-2 p-2 radius ">Softmandu is focused on webapp development. We develop webapp using MEAN, MERN technology. Our frontend framework will be Angular and React.</p>
           
        </div>
        <div class="col avatar "  >
                <img  class=" img-fluid rounded-circle z-depth-0" src="../../assets/image/mimage3.png" height="200px" width="250px">
                <h3 class="mobile">Mobile App</h3>
                <p class="z-depth-2 p-2 radius ">With the spreading use of mobile-app, we are also focused on designing and develpoment of mobile app compatible for Android, IOS and windows phone/tablet.</p><p> </p>
            </div>
        <div class="col avatar "  >
                <img  class=" img-fluid rounded-circle z-depth-0" src="../../assets/image/dimage2.jpg" height="200px" width="250px">
                    <h3 class="mobile">PC App</h3>
                    <p class="z-depth-2 p-2 radius ">Softmandu is also concerned in developing PC app for enterprise level helping to run your business smoothly.<br />
                        <br /> </p>
                </div>
    </div>
    <div class="row mt-5">
            <div class="col avatar "  >
                <img  class=" img-fluid rounded-circle z-depth-0" src="../../assets/image/consultingimage2.jpg" height="200px" width="250px">
                <h3 class="mobile">Consulting Service</h3>
                <p class="z-depth-2 p-2 radius ">Softmandu provides consulting service to their valued customer to find out what their business needs are and develop software solution to make their day to day business operations easier and efficient.<br />
                    <br /></p>
            </div>
            <div class="col avatar "  >
                    <img  class=" img-fluid rounded-circle z-depth-0" src="../../assets/image/seoimage2.jpg" height="200px" width="250px">
                    <h3 class="mobile">SEO</h3>
                    <p class="z-depth-2 p-2 radius ">Softmandu will help your websites in Search Engine Optimization to make it displayed as the top result on the search wngine page. Though improving SEO, our clients can improve and expand their visibility on the search engine.<br />
                        <br /></p>
                </div>
            <div class="col avatar "  >
                        <img  class=" img-fluid rounded-circle z-depth-0" src="../../assets/image/websitedesign2.jpg" height="200px" width="250px">
                        <h3 class="mobile">Website Design</h3>
                        <p class="z-depth-2 p-2 radius ">We design responsive website with better UI/UX for clients. We assure our clients to build better website which can easily entice the visitor to spend more time exploring their business service and products. We too will optimize your websites for SEO from the very beginning.</p>
                    </div>
        </div>
</div>
</div>
<div class="container service mt-4">
    <div class="row hov">
        <i class="fas fa-cogs system"></i>
        <h3 class="ss"><b>Services We provide</b></h3>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-center">
            <div class="data1 z-depth-1">
                <div class="for_img">
                        <i class="fab fa-internet-explorer"></i>
                </div>
                <h3>Improve your UI/UX</h3>
                <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
                <div class="data1 z-depth-1">
                    <div class="for_img">
                            <i class="fas fa-chart-bar"></i>
                    </div>
                    <h3>Optimise to SEO</h3>
                    <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                </div>
        </div>
        <div class="col d-flex justify-content-center">
                    <div class="data1 z-depth-1">
                        <div class="for_img">
                                <i class="fab fa-android"></i>
                        </div>
                        <h3>Build Custom App</h3>
                        <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                    </div>
        </div>
        <div class="col d-flex justify-content-center">
                        <div class="data1 z-depth-1">
                            <div class="for_img">
                                    <i class="fas fa-dollar-sign"></i>
                            </div>
                            <h3 class="ml-2">Increase your Brand Value</h3>
                            <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                        </div>
        </div>
    </div>
    <div class="row mt-4">
            <div class="col d-flex justify-content-center">
                <div class="data1 ">                    
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                    <div class="data1 z-depth-1">
                        <div class="for_img">
                                <i class="fas fa-shield-alt"></i>
                        </div>
                        <h3 class="ml-2">Keeps Your Business Safe</h3>
                        <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                    </div>
            </div>
            <div class="col d-flex justify-content-center">
                        <div class="data1 z-depth-1">
                            <div class="for_img">
                                    <i class="fas fa-network-wired"></i>
                            </div>
                            <h3 class="ml-2">Digitalize Your Network</h3>
                            <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                        </div>
            </div>
            <div class="col d-flex justify-content-center">
                            <div class="data1 ">
                                
                            </div>
            </div>
    </div>
    
</div>
<h2 class="text-center mt-5">Keeps Your Business Safe</h2>
<div class="container">

<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" 
  [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index" >
    <div class="col-md-2 p-2 mx-auto" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index" id="car">
      <mdb-card class="my-1" >
        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

</div>
   