<div class="bg">
    <h2 class="message text-center">A BETTER WAY TO IMPROVE YOUR BUSINESS</h2>
    <h4 class="text-center submsg pt-4">"We Not Only Build Websites We Build Your Business in Web, Too"</h4>
    <button class="btn">Know Us More</button>
</div>
<div class="container service mt-4">
    <div class="row hov">
        <i class="fas fa-cogs system"></i>
        <h3 class="service"><b>Services We provide</b></h3>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-center">
            <div class="data1 z-depth-1">
                <div class="for_img">
                        <i class="fas fa-tachometer-alt"></i>
                </div>
                <h3>WEB DEVELOPMENT</h3>
                <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
                <div class="data1 z-depth-1">
                    <div class="for_img">
                            <i class="fab fa-android"></i>
                    </div>
                    <h3>WEB DEVELOPMENT</h3>
                    <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                </div>
        </div>
        <div class="col d-flex justify-content-center">
                    <div class="data1 z-depth-1">
                        <div class="for_img">
                                <i class="fas fa-shopping-cart"></i>
                        </div>
                        <h3>WEB DEVELOPMENT</h3>
                        <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                    </div>
        </div>
        <div class="col d-flex justify-content-center">
                        <div class="data1 z-depth-1">
                            <div class="for_img">
                                    <i class="far fa-lightbulb"></i>
                            </div>
                            <h3>WEB DEVELOPMENT</h3>
                            <p>Choose from start, end, center, baseline, or stretch (browser default).</p>
                        </div>
        </div>
    </div>
</div>
<div class="knowushome">
<div class="row mt-4">
    <div class="col one"></div>
    <div class="col two">
        <h4 class="whyus">Why Us? </h4>
        <p>Established in 2019, Softmandu Nepal Pvt. Ltd is a rising software development company in Nepal. We are concerned and focused on making digitalized Nepal with IT. We are a proud team of passionate developer focusing on creative works of digitalization.</p>
        <button class="btndwn">Know More</button>
    </div>
</div>
</div>
<div class="valued_customer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class="wrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <h6>Trusted By Many</h6>
                            <h4>Our Valued Customer</h4>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <img src="../../assets/image/awasar.jpg">
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <img src="../../assets/image/policynepal.jpg">
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <img src="../../assets/image/iser logo.jpg">
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <img src="../../assets/image/valued1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</div>
