.logo{
    width: 302px;
    height: 180px;
}
footer.page-footer {
    padding-top: 20px;
}
.fab{
    font-size: 30px;
}
.bg{
    background-color: #212121; 
}
.text-uppercase.font-weight-bold{
    color: #81c83c;
}
.fas {
    color: red;
}
.fab{
    color: #81c83c;
}
.colors{
    color: red;
}